/* Aplico imagen de fondo acá */

#imagenFondo{
   background-repeat: no-repeat;
   background-image: url("/assets/imagenes/pizzaArgentaFondo.jpg");
   background-size: cover; 
}

#colorTitulo{

 color: white;
}